.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    border: 1px solid yellow;
    background-color: cornsilk;
    
}  

.flex-child:first-child {
    margin-right: 150px;
    width:120px;
} 


